#horarios{
   width: 100%;
   max-width: 60%;
   height: 150px;
   border-radius: 15px;
    position: relative;
    left: 25%;
    top: 200px;
   z-index: 200;
   text-align: center;
   border: 1px solid;

   color: wheat;

   background-image: url(/img/rosas.jpeg);
   background-position: center bottom;
   background-size: cover;
   

}