#horarios{
   width: 100%;
   max-width: 75%;
   height: 205px;
   border-radius: 15px;
    position: relative;
    left: 12.5%;
    top: 200px;
   z-index: 200;
   text-align: center;
   border: 1px solid;

   color: white;
   text-shadow: 0 0 3px black,
   0  0  6px black,
   0 0  12px black;

   background-image: url(/img/rosas.jpeg);
   background-position: center ;
   background-size: cover;
   object-fit: cover;
   
   
}
h4{
   font-size:1.3rem;
   font-weight: bold;
}

#horarios p{
   font-size: 1.4em;
   font-weight: bold;

}

#horarios span{
   font-size: 1.3rem;
   font-weight: bold;

}

#horas{
   font-size: 1.3rem;
   font-weight: bold;

}